.postInfo {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

button {
  font-size: 1.25rem;
  padding: 0.5rem;
}