* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

:root {
  background-color: #f9f9e8;
  color: #242424;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex: 0 1 auto;
  background-color: #8d8d7e;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 5vw;
}

.logo {
  font-size: 200%;
  flex: 1;
  padding: 1rem;
  border-radius: 20px;
}

.navItems {
  flex: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

.navbar a {
  text-decoration: none;
  color: #f5f5dc;
}

.dark {
  background-color: #242424;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 85%;
  align-self: center;
  text-align: justify;
  gap: 1rem;
}

.focus {
  flex: 0 1 auto;
  text-align: center;
}

.carousel {
  flex: 2 1 auto;
  width: 100%;
  border-radius: 4rem;
  overflow: hidden;
  max-width: 750px;
}

.carousel img {
  max-width: 100%;
}

.title {
  font-size: 24px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.image {
  position: relative;
}

.latestBlog {
  display: flex;
  flex: 2 1 auto;
  background-color: #a6b1c0;
  border-radius: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 0.5rem;
  max-width: 1000px;
}

.blogText{
  text-align: justify;
  max-width: 750px;
}

.blogData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.footer {
  display: flex;
  flex-direction: column;
  flex: 0 1 40px;
  background-color: #8d8d7e;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
    color: #f5f5dc;
  }
  .navbar, .footer {
    background-color: #4b4b4b;
  }
  .latestBlog {
    background-color: #404349;
  }
}