* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  background-color: #f5f5dc;
  color: #242424;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  flex: 0 1 auto;
  background-color: #8d8d7e;
  align-items: center;
}

.logo {
  font-size: 200%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  width: 85%;
  align-self: center;
  text-align: justify;
}

.focus {
  flex: 0 1 auto;
  text-align: center;
}

.carousel {
  flex: 1 1 auto;
}

.latestBlog {
  flex: 1 1 auto;
}

.footer {
  display: flex;
  flex: 0 1 40px;
  background-color: #8d8d7e;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
    color: #f5f5dc;
  }
  .navbar, .footer {
    background-color: #4b4b4b;
  }
}